# build
main
main.exe
server
server.exe
spage
spage.exe

config.yaml
config.*

.DS_Store
.idea/
.vscode/

data/
# backend embed fs
static/dist/**

# frontend dev
**/node_modules/
.next

# frontend dist