# build
main
main.exe
server
server.exe

config.yaml
config.*

.DS_Store
.idea/
.vscode/

data/
# backend build
build/

# backend embed fs
spage/static/dist/**
!spage/static/dist/.keep

# frontend dev
**/node_modules/
.next

# frontend dist