# build
main
main.exe
server
server.exe

config.yaml
!config.go
!config.example.yaml

.DS_Store
.idea/
.vscode/
.env

data/
# backend build
build/
**.so
**.dylib
test.json

# backend embed fs
spage/static/dist/**
!spage/static/dist/.keep

# frontend dev
**/node_modules/
.next

# frontend dist